apiVersion: apps/v1
kind: Deployment
metadata:
  name: glance-argo
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: glance-argo
  template:
    metadata:
      labels:
        app: glance-argo
  volume:
    - name: glance-argo-volume
      configMap:
        name: glance-argo-config
  spec:
    containers:
      - image: glanceapp/glance
        name: glance-argo
        ports:
          - containerPort: 80
        volumeMounts:
          - name: glance-argo-volume
            mountPath: /app/config
